.showcase-box{
  max-width: 700px;
  max-height: 600px;
  max-width: 100%;
  height: 100%;
  border-radius: 35px;
   box-shadow: 
    
    0 6px 6px rgba(0, 0, 0, rgba(0,0,255));
}

.showcase-list{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  max-width: 700px;
  list-style: none;
  padding: 1vw;
  height: 100%;
  gap: 25px;
}


.arrowleft{
  width: 50px;

}
.arrowright{
  width: 50px;

}

.picture{
 max-width: 500px;
 max-height: 500px;
  width: 100vh;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  border-radius: 3rem;
}

.getStarted-box{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
}

.getStarted-box button{
  background-color: #212121;
  border-radius: 1rem;
  max-width: 150px;
  width: 15vw;
  border-color: #0298b3;
  color: #0298b3;
}
.main-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
#root{
  height: 100vh;
  background-color: #212121;
}

html, body {
  height: 100%;
  margin: 0; 
  padding: 0;
}




